* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #7373731b;
  padding: 0fr 2em 2em 17em;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
}

.contents canvas {
  clear: both;
  display: block;
}

.form-grid {
  display:grid;
  width: 100%;
  grid-template-columns: 300px 200px; 
}

.form-grid span{
  display:grid;
  width: 100%;
  grid-template-columns: 500px; 
}

.form-grid-browser {
  display:grid;
  grid-template-columns: 100%; 
  width: 100%;
  margin: 0px 0px 10px 10px;
  padding: 0px 10px 10px 10px;
}

.form-grid-browser-card {
  position: relative;
  width: 100%;
  margin: 4px auto;
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: 0 4px 3px rgba(0,0,0,0.1);
  box-shadow: 0 4px 3px rgba(0,0,0,0.1);
  border-radius: 4px;
}

.form-grid-browser-card legend {
  position: relative;
  width: 100%;
  margin: 4px auto;
  padding: 1px;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  border-radius: 4px;
}
.form-grid-browser-card-div{
  display:grid;
  width: 100%;
  grid-template-columns: 25% 70%;
  padding: 0 1em 1en 0; 
}

.form-grid-browser-card-div label{
  text-align: right;
  padding: 10px;
}

.nav-grid{
  display:grid;
  grid-template-columns: 200px 200px 200px;
}

.tele-grid{
  display:grid;
  grid-template-columns: 150px 150px 75px 150px;
}

.form-button {
  cursor: pointer;
  margin: 5px;
}

.contents .form-small-button {
  font-size: 12px;
  width: 100px;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
  border-radius: 50px;
  border: transparent;
}

.rtcRefresh{
  margin-left: 100px;
}

.toc {
  position: fixed;
  left: 3em;
  top: 5em;
  padding: 1em;
  width: 16em;
  line-height: 2;
}
.toc ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.toc ul ul {
  padding-left: 2em;
}
.toc li a {
  display: inline-block;
  color: #232323;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.toc li a:hover {
  display: inline-block;
  background-color: #a1a1a1;
  color: #232323;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.toc li.visible > a {
  color: #111;
  transform: translate(5px);
}

.toc-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.toc-marker path {
  transition: all 0.3s ease;
}

.contents {
  padding: 1em;
  max-width: 800px;
  font-size: 1.2em;
  box-shadow: 0 14px 30px rgba(0,0,0,0.1);

  font-family: "Frank Ruhl Libre", sans-serif;
  
}

.contents section {
  position: relative;
  width: 100%;
  margin: 40px auto;
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: 0 14px 30px rgba(0,0,0,0.1);
  box-shadow: 0 14px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
}

.contents img {
  max-width: 100%;
}

.contents input {
  max-width: 100%;
  padding: 10px;
  font-size: large;

}

.content.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.contents .code-block {
  white-space: pre;
  overflow: auto;
  max-width: 100%;
}
.contents .code-block code {
  display: block;
  background-color: #f9f9f9;
  padding: 10px;
}
.contents .code-inline {
  background-color: #f9f9f9;
  padding: 4px;
}


.contents h2 h3 {
  padding-top: 0em;
  background-color: #f9f9f9;

}
.contents h2 {
  margin-top: 0em;
  
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}


.axes {
  padding: 1em;
}

.buttons {
  margin-left: 1em;
}

/*meter*/.axis {
  min-width: 200px;
  margin: .5em;
}

.button {
  display: inline-block;
  width: 1.8em;
  text-align: left;
  padding: .5em;
  border-radius: 15px;
  border: 1px solid black;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAAxJREFUCNdjYPjPAAACAgEAqiqeJwAAAABJRU5ErkJggg==);
  background-size: 0% 0%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  
}

.pressed {
  border: 1px solid red;
}

.touched::after {
  content: "touch";
  display: block;
  position: absolute;
  margin-top: -0.2em;
  margin-left: -0.5em;
  font-size: 0.5em;
  opacity: 0.7;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

pre[class*="language-"] {
  position: relative;
  overflow: auto;

  /* make space  */
  margin: 5px 0;
  padding: 1rem 0 1.75rem 1rem;
  border-radius: 10px;
}

pre[class*="language-"] button {
  position: absolute;
  top: 5px;
  right: 5px;

  font-size: 0.9rem;
  padding: 0.15rem;
  background-color: #828282;

  border: ridge 1px #7b7b7c;
  border-radius: 5px;
  text-shadow: #c4c4c4 0 0 2px;
}

pre[class*="language-"] button:hover {
  cursor: pointer;
  background-color: #bcbabb;
}

main {
  display: grid;
  max-width: 600px;
  margin: 20px auto;
}

h1 {
  font-size: 1.3rem;
}

ul{
  padding: 0;
  list-style-type: none;
  margin: 0;
  margin-bottom: 2px;
  margin-left: 0px;
}

/* Radio Buttons https://slides.com/wireframe */


.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-toolbar label:hover {
  background-color: #dfd;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}

span button {
  position: absolute;
  top: 5px;
  right: 5px;

  font-size: 0.9rem;
  padding: 0.15rem;
  background-color: #828282;

  border: ridge 1px #7b7b7c;
  border-radius: 5px;
  text-shadow: #c4c4c4 0 0 2px;
}

span button:hover {
  cursor: pointer;
  background-color: #bcbabb;
}